p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    transition: opacity ease-in 0.2s; 
    margin: 0;
} 
body[unresolved] {
    opacity: 0; display: block; overflow: hidden; position: relative; 
} 

* {
    box-sizing: border-box;
  }

  

  .Exercises-YouTube {
    font-family: Roboto, Arial, sans-serif;
    padding-top: 57px;
    padding-left: 72px;
    background-color: rgb(249, 249, 249);
  }

  

