
.sidebar-link {
    font-size: 10px;
    height: 74px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  .sidebar-link:hover {
    background-color: rgb(238, 238, 238);
  }

  .sidebar-link img {
    height: 24px;
    margin-bottom: 6.5px;
  }

  .tooltip {
    background-color: rgba(96, 96, 96, 0.9);
    color: white;
    font-size: 12px;
    padding: 8px;
    border-radius: 2px;
    position: absolute;

    bottom: -50px;

    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
  }

  .tooltip-container {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .tooltip-container:hover .tooltip {
    opacity: 1;
  }
